<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gestion de Tâches{% endblock %}</title>
</head>
<body>
    <div class="container mt-4">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
